# R session cache
.Rproj.user
.Rhistory
.RData
.Ruserdata
.rda

# pixi virtual env
.pixi

# VSCode settings
.vscode/

# compiled / temp
*.sif
*.tar

# folders
example/*
mytest/*
simulation/*
logs/*
docs/*
