.DS_Store
.Rhistory
.RData
.pixi
*.Rproj*
*.sif
*.tar
*.swp
thirdParty/*.R
thirdParty/*.cpp
*.rda

# docs/
docs/*.aux
docs/*.fdb_latexmk
docs/*.fls
docs/*.log
docs/*.out
docs/*.tex
docs/*.pdf

mytest/
config.sh
workflow/
simulation/input/
simulation/output/
